.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .book-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .book-btn:hover {
    background-color: #0056b3;
  }
  